Jinja2
MarkupSafe
PyMacAdmin
PyNaCl
PyYAML
Pygments
Send2Trash
asn1crypto
awscli
bcrypt
botocore
certifi
cryptography
jmespath
jsonschema
pandocfilters
psycopg2-binary
ptyprocess
pyasn1
pyOpenSSL
python-consul
python-dateutil
redis
requests
rsa<=3.5.0
s3transfer
six
sqlalchemy
urllib3
webencodings
